.banner-imgs {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
}

.banner {
    position: absolute;
}

.banner-imgs > img {
    width: 100vw;
}

.banner > button {
    position: absolute;
    font-size: x-large;
    bottom: 50%;
}

.banner > button.right {
    left: 31%;
}