#shopping {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}

#shopping h1 {
    background-color: white;
    margin: auto;
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: -10px 10px 20px gray;
}

#products {
    grid-column: 1;
}

#shopping-cart {
    grid-column: 2;
}
