html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  height: auto;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.app-body {
  padding: 25px;;
  background-color: #588cbf;
  min-height: 100vh;
  height: auto;
}
